<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>

    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>

    <!--<packageSources>
        <clear />

        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ReactiveUI MyGet" value="http://myprivatenuget.com:8080/nuget" />

    </packageSources>-->

    <!--<disabledPackageSources>
        <add key="Microsoft and .NET" value="true" />
    </disabledPackageSources>-->

</configuration>